version: "3.9"

services:
  api:
    build: .
    container_name: shipay_api
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/shipay
    volumes:
      - .:/app
    restart: always

  db:
    image: postgres:15
    container_name: shipay_db
    environment:
      POSTGRES_DB: shipay
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
